<div class="codeExample">
  <p class="exampleOutput">
    <%= rendered_example %>
  </p>
  <p class="codeBlock">
    <div class="highlight">
      <pre><%= code_example %></pre>
    </div>
  </p>
</div>
