  <h1>Heading 1</h2>
    <h2>Heading 2</h2>
    <p>Example paragraph text Example paragraph textExample paragraph textExample paragraph text</p>

<btn class='btn btn-default'>Default</btn>
<btn class='btn btn-primary'>Primary</btn>
<btn class='btn btn-success'>Success</btn>
<btn class='btn btn-danger'>Danger</btn>


<form>
    <fieldset>
    <input type="radio" name="type" value="male" checked> Principal<br>
    <input type="radio" name="type" value="female"> Volunteer<br>
      <input type="text" placeholder="First name" name="firstname" value="Mickey"><br>
      <input type="text" placeholder="Last name" name="lastname" value="Mouse"><br><br>
      
      <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
      <input type="checkbox" name="vehicle2" value="Car"> I have a car 

      <select name="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
      </select>

      <input type="submit" value="Submit">
    </fieldset>
  </form>    