<div class="site-banner">
  <div class="site-banner-header">
    <nav class="navbar navbar-primary navbar-default navbar-collapse" aria-expanded="true">
      <div class="container">
        <div class="navbar-header"> 
          <button aria-controls="bs-navbar" aria-expanded="true" class="navbar-toggle" data-target="#documentation-navbar" data-toggle="collapse" type="button"> 
            <span class="sr-only">Toggle navigation</span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </button> 
          <a href="../" class="navbar-brand">PC PrincipalConnect</a> 
        </div>
        <nav class="navbar-collapse collapse">
          <ul class="nav navbar-nav">        
            <li><a>About Us</a></li>
            <li><a>Navigation</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">        
            <li><a>Login</a></li>
          </ul>
        </nav>
      </div>
    </nav>
  </div>
  <div class="site-banner-content">
    <div class="container">
      <div class="site-banner-onboarding">
        <p>Our mission is to deliver a site in 24 hours (and also eat the cookies!!)</p>
        <p>
          <button class="btn btn-primary">Explore Opportunities</button>
          <button class="btn btn-success">Sign Up Today!</button>
        </p>
      </div>
    </div>
  </div>
</div>
<section class="registration-onboarding">
  <p>I am</p>
  <p>
    <button class="btn btn-success btn-lg">Volunteer &#62;</button>
    <button class="btn btn-success btn-lg">Principal &#62;</button>
  </p>
  <p><a>View Opportunity Listings</a></p>
</section>