<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: <%= title %></title>
    <link rel=stylesheet href="../assets/application.css" type="text/css">
    <link rel=stylesheet href="../assets/styleguide.css" type="text/css">
  </head>
  <body>
    <div id="root"></div>
    <div class="col-md-3 sidebar" id="navigational-links">
      <h3>Information</h3>
      <nav class="sidebar-navigation">
        <ul>
          <li><a href="#">Home 1</a></li>
          <li><a href="#">Home 2</a></li>
          <li><a href="#">Home 3</a></li>
          <li><a href="#">Home 4</a></li>
        </ul>
      </nav>
    </div>
      <div id="sidebar-content">
        <h1>Principal's Connect</h1>
        <section class="content">
          <ul>
          <% @blocks.each do |b| %>
            <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
          <% end %>
          </ul>
