/*doc
---
title: Buttons
name: Buttons
category: basics
---
```html_example
    <btn class='btn btn-default'>Default</btn>
    <btn class='btn btn-primary'>Primary</btn>
    <btn class='btn btn-success'>Success</btn>
    <btn class='btn btn-danger'>Danger</btn>
```
*/

.btn {
  padding: 15px 30px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.25);
  border-radius: 3px;
  font-weight: bold;
  border: 0;
  letter-spacing: .5px;
  text-transform: uppercase;
  transition: all 200ms;

  &.sm {
    padding: 10px;
    font-size: 1em;
  }

  &.lg {
    padding: 40px 64px;
    font-size: 1.5em;
  }

  &.btn-success {
    @include button-brand-accent;
  }

  &.btn-primary {
    @include button-brand-primary;
  }

}

.btn-lg{
  padding: 25px 50px;
}
