/*doc
---
title: Buttons
name: Buttons
category: basics
---
```html_example
    <btn class='btn btn-default'>Default</btn>
    <btn class='btn btn-primary'>Primary</btn>
    <btn class='btn btn-success'>Success</btn>
    <btn class='btn btn-danger'>Danger</btn>
```
*/
