/*doc
---
title: Colors
name: Colors
category: colors
---
```html_example
    <h1>Heading 1</h2>
    <h2>Heading 2</h2>
    <p>Example paragraph text Example paragraph textExample paragraph textExample paragraph text</p>
```
*/

$brand-main: #0F8B8D; // Dark Cyan
$brand-dark: #143642; // Yankees Blue
$brand-accent: #EDC228; // Saffron
$brand-off-white: #F2FFFF; // Azure Mist
$brand-white: #fff;

$cat-color: #88BE5A; /* green */
$school-color: #E6B621; /* yellow */
$accent-gray: #FAFAFA; // Snow
$border-light: #d8d8d8; /* med gray */
$border-dark: #979797; /* dark gray */

$form-elem: #F3F3F3; /* light gray */
$form-elem-complete: #FCFCFC; /* lighter gray */

$body-copy: #393E41;
