/*doc
---
title: Colors
name: Colors
category: colors
---
```html_example
    <form>
    <fieldset>
    <input type="radio" name="type" value="male" checked> Principal<br>
    <input type="radio" name="type" value="female"> Volunteer<br>
      <input type="text" placeholder="First name" name="firstname" value="Mickey"><br>
      <input type="text" placeholder="Last name" name="lastname" value="Mouse"><br><br>
      
      <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
      <input type="checkbox" name="vehicle2" value="Car"> I have a car 

      <select name="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
      </select>

      <input type="submit" value="Submit">
    </fieldset>
  </form>    
```
*/

.input {
  padding: 20px 32px;
  border-radius: 3px;
  border: $border-dark;
  background-color: $form-elem;
}
