.navbar.navbar-primary {
  background-color: $brand-dark;
  border-radius: 0;

  .btn {
    padding: 15px;
    text-transform: capitalize;
  }

  .navbar-nav > li {
    a {
      font-weight: 700;
      color: $brand-white;
      &:hover {
        color: $brand-accent;
      }
    }

    &:nth-last-of-type(-n+2) {
      margin: 0;
      .btn-success,
      .btn-primary {
        box-shadow: none;
        background-color: transparent;
      }
    }
  }

  .navbar-brand {
    padding: 0;
    fill: $brand-white;
    font-weight: normal;

    svg {
      height: 75px;
      > text:last-of-type {
        display: none;
      }
    }
  }

  .container {
    padding: 15px 30px;
  }
}

.navbar-admin-panel {
  background: $brand-dark;
  border: none;

  .navbar-header .navbar-brand {
    fill: $brand-white;
  }

  .navbar-nav > li > a {
    color: $brand-white;

    &:hover {
      color: $brand-white;
      text-decoration: underline;
    }
  }
}
