// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*doc
---
title: Alert
name: Alert
category: basics
---
```html_example
    <div class='alert'>Hello</div>
```
*/

.site-banner {
  min-height: 518px;
  background-color: $brand-dark;
  background: url(asset-path('school2.jpg'));
  background-position: center 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: $brand-white;
  position: relative;
  > * {
    position: relative;
    z-index: 10;
  }
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: $brand-dark-overlay;
    opacity: 0.8;
    z-index: 2;
  }

  .navbar {
    background: none;
    border: none;

    .btn {
      padding: 15px 30px;
    }

    .navbar-header .navbar-brand {
      fill: $brand-white;
    }

    .navbar-nav > li {
      a {
        font-weight: 700;
        color: $brand-white;
      }
      .btn-success {
        @include button-brand-accent;
      }
      .btn-primary {
        @include button-brand-primary;
      }
      &:nth-last-of-type(-n+2) {
        margin: 0 0 0 15px;
      }
    }


  }

.site-banner-content {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: calc(100% - 70px);

      .site-banner-onboarding {
          width: 100%;
          text-align: center;
          max-width: 850px;
          margin: 0 auto;

          h1{
            margin-bottom: 2em;
          }

          > p {
              font-size: 1em;
              line-height: 1em;
              text-align: center;
              margin-top: 2em;
          }
      }
  }
}

p.question {
  text-transform: uppercase;
    font-size: 1em;
}

a.listings {
  color: $brand-accent;
}

.registration-onboarding {
  text-align: center;
  padding: 60px 0;

  h2 {
    margin: 0 0 30px;
  }

  .signup h2, .signup button{
    display: inline-block;
    margin-right: 20px;

    @media (max-width: $screen-sm-min) {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  > {
    p {
      font-size: 1.5em;
      line-height: 1em;
    }
  }
}

.sidebar {
  @include make-xs-column(3);

  background: #000;
  position: fixed;
  margin-top: 50px;
  height: 100%;
  position: fixed !important;

  > * {
    color: $brand-white;
  }

  h3 {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }

  .sidebar-navigation ul {
    list-style: none;
    padding: 0;

    li {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;

      > a {
        color: $brand-white;
        width: 100%;

        :hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.goals h2{
  max-width: 700px;
}

.body-with-sidebar {
  @extend .container;
  @include make-xs-column(9);
  @include make-xs-column-offset(3);
  margin-top: 50px;
}

.main-footer {
  @extend .clearfix;

  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e8e6e7;
  width: 100%;

  h1, h2 {
    margin-top: 0;
  }

  nav ul {
    li {
      list-style: none;
    }

    @media(max-width: $screen-md-min) {
      padding: 0;
    }
  }
}
.goals img {
    height: 150px;
    margin: 30px auto;
}

.stat{
  background-image: url(asset-path('principal.jpg'));
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50% auto;
  padding-top: 10px;
  padding-bottom: 10px;

  p{
    font-size: 2em;
  }

  @media(max-width: $screen-md-min) {
    p {
      font-size: 1.5em;
    }
  }

  @media(max-width: $screen-sm-min) {
    background-image: none;

    p {
      font-size: 1em;
    }
  }
}

