// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*doc
---
title: Alert
name: Alert
category: basics
---
```html_example
    <div class='alert'>Hello</div>
```
*/

.site-banner {
  min-height: 560px;
  background-color: $brand-dark;
  background: url(asset-path('school2.jpg'));
  background-position: center 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: $brand-white;
  position: relative;
  > * {
    position: relative;
    z-index: 10;
  }
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: $brand-dark;
    opacity: 0.8;
    z-index: 2;
  }

  .navbar.navbar-primary {
    background: none;
    border: none;

    .btn {
      padding: 15px 30px;
    }

    .navbar-brand svg {
      height: auto;
      > text:last-of-type {
        display: block;
      }
    }

    .navbar-nav > li {

      .btn-success {
        @include button-brand-accent;
      }

      .btn-primary {
        @include button-brand-primary;
      }

      &:nth-last-of-type(-n+2) {
        margin: 0 0 0 15px;
      }
    }

    .container {
      padding: 30px;
    }
  }

.site-banner-content {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: calc(100% - 70px);

      .site-banner-onboarding {
          width: 100%;
          text-align: center;
          max-width: 850px;
          margin: 0 auto;

          h1 {
            margin-bottom: 2em;
          }

          > p {
              font-size: 1em;
              line-height: 1em;
              text-align: center;
              margin-top: 2em;
          }
      }
  }
}

p.question {
  text-transform: uppercase;
  font-size: 1em;
}

a.listings {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: $brand-accent;

  &:before {
    margin: 0 15px 0 0;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background-color: $brand-accent;
  }
}

.registration-onboarding {
  text-align: center;
  padding: 60px 0 70px;

  h2 {
    margin: 0 0 30px;
  }

  .signup h4, .signup button {
    display: inline-block;
    margin-right: 20px;

    @media (max-width: $screen-sm-min) {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  > {
    p {
      font-size: 1.5em;
      line-height: 1em;
    }
  }
}

.goals {
  padding: 60px 0;

  h2 {
    width: 100%;
    max-width: 605px;
    margin: 0 auto;
  }

  img {
    height: 150px;
    margin: 60px 0 20px;
  }

  .col-md-4 {
    h4 {
      font-weight: 700;
    }
    &+h4 {
      margin: 0 auto;
      padding: 50px 0 0;
      display: block;
      font-weight: 600;
      max-width: 515px;
      clear: both;
    }
  }
}

.body-with-sidebar {
  @extend .container;
  @include make-xs-column(9);
  @include make-xs-column-offset(3);
  margin-top: 50px;
}

.main-footer {
  @extend .clearfix;
  padding: 60px 20px;
  background-color: $accent-gray;
  width: 100%;

  h1, h2 {
    margin-top: 0;
  }

  nav ul {
    li {
      list-style: none;
    }

    @media(max-width: $screen-md-min) {
      padding: 0;
    }
  }
}

.stat {
  display: flex;
  align-items: center;
  background-image: url(asset-path('principal.jpg'));
  background-position: right 18%;
  background-repeat: no-repeat;
  background-size: 50% auto;
  height: 400px;

  p {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
  }

  @media(max-width: $screen-md-min) {
    p {
      font-size: 1.5em;
    }
  }

  @media(max-width: $screen-sm-min) {
    background-image: none;

    p {
      font-size: 1em;
    }
  }
}

.content-header {
  background: #fff;
  color: #000;
  border-bottom: #cbcacd solid 1px;
  margin: -10px;
  padding: 10px;
}
