/*doc
---
title: Typography
name: Typography
category: basics
---
```html_example
    <h1>Heading 1</h2>
    <h2>Heading 2</h2>
    <p>Example paragraph text Example paragraph textExample paragraph textExample paragraph text</p>
```
*/

body {
  font-family:$sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-copy;
}

.serif {
  font-family: $serif;
}

h1 {
  font-family: $serif;
  font-size: 48px;
  font-weight: 700;
}

h2 {
    font-size: 1.4em;
}

h4{
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  line-height: 1.5;
}

p, ol, ul, td {
  font-size: 1em;
  line-height: 1.5;
}

a {
  color: $brand-main;
  cursor: pointer;

  &:visited {
    color: #666;
  }

  &:hover {
    color: lighten($brand-main, 10%);
  }
}
