/*doc
---
title: Colors
name: Colors
category: colors
---
```html_example
    <h1>Heading 1</h2>
    <h2>Heading 2</h2>
    <p>Example paragraph text Example paragraph textExample paragraph textExample paragraph text</p>
```
*/

$brand-main: #1FABC1; /* turquoise */
$brand-dark: #173643; /* navy */
$brand-accent: #DFB621; /* yellow */
$brand-white: #F3FFFF; 

$cat-color: #88BE5A; /* green */
$school-color: #E6B621; /* yellow */
$border-light: #BFBDC1; /* med gray */
$border-dark: #979797; /* dark gray */

$form-elem: #F3F3F3; /* light gray */
$form-elem-complete: #FCFCFC; /* lighter gray */

$body-copy: #393E41;

div, section{
  &.brand-dark {
    background-color: $brand-dark;
    color: white;
  }
  &.brand-main{
    background-color: $brand-main;
    color: white;
  }
}

.full-width-max{
    max-width: 700px;
    margin: 20px auto 10px;
}
